maven-v4.rnc

default namespace = "http://maven.apache.org/POM/4.0.0"

start =
  notAllowed
  | element project {
      element modelVersion { \string }?
      & element parent {
          element groupId { \string }?
          & element artifactId { \string }?
          & element version { \string }?
          & element relativePath { \string }?
        }?
      & element groupId { \string }?
      & element artifactId { \string }?
      & element version { \string }?
      & element packaging { \string }?
      & element name { \string }?
      & element description { \string }?
      & element url { \string }?
      & element inceptionYear { \string }?
      & element organization {
          element name { \string }?
          & element url { \string }?
        }?
      & element licenses {
          element license {
            element name { \string }?
            & element url { \string }?
            & element distribution { \string }?
            & element comments { \string }?
          }*
        }?
      & element developers {
          element developer {
            element id { \string }?
            & element name { \string }?
            & element email { \string }?
            & element url { \string }?
            & element organization { \string }?
            & element organizationUrl { \string }?
            & element roles {
                element role { \string }*
              }?
            & element timezone { \string }?
            & element properties { element1* }?
          }*
        }?
      & element contributors {
          element contributor {
            element name { \string }?
            & element email { \string }?
            & element url { \string }?
            & element organization { \string }?
            & element organizationUrl { \string }?
            & element roles {
                element role { \string }*
              }?
            & element timezone { \string }?
            & element properties { element2* }?
          }*
        }?
      & element mailingLists {
          element mailingList {
            element name { \string }?
            & element subscribe { \string }?
            & element unsubscribe { \string }?
            & element post { \string }?
            & element archive { \string }?
            & element otherArchives {
                element otherArchive { \string }*
              }?
          }*
        }?
      & element prerequisites {
          element maven { \string }?
        }?
      & element modules {
          element module { \string }*
        }?
      & element scm {
          element connection { \string }?
          & element developerConnection { \string }?
          & element tag { \string }?
          & element url { \string }?
        }?
      & element issueManagement {
          element system { \string }?
          & element url { \string }?
        }?
      & element ciManagement {
          element system { \string }?
          & element url { \string }?
          & element notifiers {
              element notifier {
                element type { \string }?
                & element sendOnError { boolean }?
                & element sendOnFailure { boolean }?
                & element sendOnSuccess { boolean }?
                & element sendOnWarning { boolean }?
                & element address { \string }?
                & element configuration { element0* }?
              }*
            }?
        }?
      & element distributionManagement { DistributionManagement }?
      & element properties { element3* }?
      & element dependencyManagement { DependencyManagement }?
      & element dependencies {
          element dependency { Dependency }*
        }?
      & element repositories {
          element repository { Repository }*
        }?
      & element pluginRepositories {
          element pluginRepository { Repository }*
        }?
      & element build {
          element sourceDirectory { \string }?
          & element scriptSourceDirectory { \string }?
          & element testSourceDirectory { \string }?
          & element outputDirectory { \string }?
          & element testOutputDirectory { \string }?
          & element extensions {
              element extension {
                element groupId { \string }?
                & element artifactId { \string }?
                & element version { \string }?
              }*
            }?
          & element defaultGoal { \string }?
          & element resources {
              element resource { Resource }*
            }?
          & element testResources {
              element testResource { Resource }*
            }?
          & element directory { \string }?
          & element finalName { \string }?
          & element filters {
              element filter { \string }*
            }?
          & element pluginManagement { PluginManagement }?
          & element plugins {
              element plugin { Plugin }*
            }?
        }?
      & element reports { element7* }?
      & element reporting { Reporting }?
      & element profiles {
          element profile {
            element id { \string }?
            & element activation {
                element activeByDefault { boolean }?
                & element jdk { \string }?
                & element os {
                    element name { \string }?
                    & element family { \string }?
                    & element arch { \string }?
                    & element version { \string }?
                  }?
                & element property {
                    element name { \string }?
                    & element value { \string }?
                  }?
                & element file {
                    element missing { \string }?
                    & element exists { \string }?
                  }?
              }?
            & element build {
                element defaultGoal { \string }?
                & element resources {
                    element resource { Resource }*
                  }?
                & element testResources {
                    element testResource { Resource }*
                  }?
                & element directory { \string }?
                & element finalName { \string }?
                & element filters {
                    element filter { \string }*
                  }?
                & element pluginManagement { PluginManagement }?
                & element plugins {
                    element plugin { Plugin }*
                  }?
              }?
            & element modules {
                element module { \string }*
              }?
            & element distributionManagement { DistributionManagement }?
            & element properties { element10* }?
            & element dependencyManagement { DependencyManagement }?
            & element dependencies {
                element dependency { Dependency }*
              }?
            & element repositories {
                element repository { Repository }*
              }?
            & element pluginRepositories {
                element pluginRepository { Repository }*
              }?
            & element reports { element9* }?
            & element reporting { Reporting }?
          }*
        }?
    }
element11 =
  element * {
    mixed {
      (element11
       | attribute * { text })*
    }
  }
element10 =
  element * {
    mixed {
      (element10
       | attribute * { text })*
    }
  }
element8 =
  element * {
    mixed {
      (element8
       | attribute * { text })*
    }
  }
element9 =
  element * {
    mixed {
      (element9
       | attribute * { text })*
    }
  }
element0 =
  element * {
    mixed {
      (element0
       | attribute * { text })*
    }
  }
element1 =
  element * {
    mixed {
      (element1
       | attribute * { text })*
    }
  }
element2 =
  element * {
    mixed {
      (element2
       | attribute * { text })*
    }
  }
element3 =
  element * {
    mixed {
      (element3
       | attribute * { text })*
    }
  }
element4 =
  element * {
    mixed {
      (element4
       | attribute * { text })*
    }
  }
element5 =
  element * {
    mixed {
      (element5
       | attribute * { text })*
    }
  }
element6 =
  element * {
    mixed {
      (element6
       | attribute * { text })*
    }
  }
element7 =
  element * {
    mixed {
      (element7
       | attribute * { text })*
    }
  }
DependencyManagement =
  (notAllowed
   | element dependencies {
       element dependency { Dependency }*
     })?,
  empty
Dependency =
  ((notAllowed
    | element groupId { \string })?
   & (notAllowed
      | element artifactId { \string })?
   & (notAllowed
      | element version { \string })?
   & (notAllowed
      | element type { \string })?
   & (notAllowed
      | element classifier { \string })?
   & (notAllowed
      | element scope { \string })?
   & (notAllowed
      | element systemPath { \string })?
   & (notAllowed
      | element exclusions {
          element exclusion {
            element artifactId { \string }?
            & element groupId { \string }?
          }*
        })?
   & (notAllowed
      | element optional { \string })?),
  empty
DeploymentRepository =
  ((notAllowed
    | element uniqueVersion { boolean })?
   & (notAllowed
      | element releases { RepositoryPolicy })?
   & (notAllowed
      | element snapshots { RepositoryPolicy })?
   & (notAllowed
      | element id { \string })?
   & (notAllowed
      | element name { \string })?
   & (notAllowed
      | element url { \string })?
   & (notAllowed
      | element layout { \string })?),
  empty
DistributionManagement =
  ((notAllowed
    | element repository { DeploymentRepository })?
   & (notAllowed
      | element snapshotRepository { DeploymentRepository })?
   & (notAllowed
      | element site {
          element id { \string }?
          & element name { \string }?
          & element url { \string }?
        })?
   & (notAllowed
      | element downloadUrl { \string })?
   & (notAllowed
      | element relocation {
          element groupId { \string }?
          & element artifactId { \string }?
          & element version { \string }?
          & element message { \string }?
        })?
   & (notAllowed
      | element status { \string })?),
  empty
Repository =
  ((notAllowed
    | element releases { RepositoryPolicy })?
   & (notAllowed
      | element snapshots { RepositoryPolicy })?
   & (notAllowed
      | element id { \string })?
   & (notAllowed
      | element name { \string })?
   & (notAllowed
      | element url { \string })?
   & (notAllowed
      | element layout { \string })?),
  empty
PluginManagement =
  (notAllowed
   | element plugins {
       element plugin { Plugin }*
     })?,
  empty
RepositoryPolicy =
  ((notAllowed
    | element enabled { \string })?
   & (notAllowed
      | element updatePolicy { \string })?
   & (notAllowed
      | element checksumPolicy { \string })?),
  empty
Resource =
  ((notAllowed
    | element targetPath { \string })?
   & (notAllowed
      | element filtering { \string })?
   & (notAllowed
      | element directory { \string })?
   & (notAllowed
      | element includes {
          element include { \string }*
        })?
   & (notAllowed
      | element excludes {
          element exclude { \string }*
        })?),
  empty
Plugin =
  ((notAllowed
    | element groupId { \string })?
   & (notAllowed
      | element artifactId { \string })?
   & (notAllowed
      | element version { \string })?
   & (notAllowed
      | element extensions { \string })?
   & (notAllowed
      | element executions {
          element execution {
            element id { \string }?
            & element phase { \string }?
            & element goals {
                element goal { \string }*
              }?
            & element inherited { \string }?
            & element configuration { element4* }?
          }*
        })?
   & (notAllowed
      | element dependencies {
          element dependency { Dependency }*
        })?
   & (notAllowed
      | element goals { element5* })?
   & (notAllowed
      | element inherited { \string })?
   & (notAllowed
      | element configuration { element6* })?),
  empty
boolean = xsd:boolean
Reporting =
  ((notAllowed
    | element excludeDefaults { \string })?
   & (notAllowed
      | element outputDirectory { \string })?
   & (notAllowed
      | element plugins {
          element plugin {
            element groupId { \string }?
            & element artifactId { \string }?
            & element version { \string }?
            & element reportSets {
                element reportSet {
                  element id { \string }?
                  & element reports {
                      element report { \string }*
                    }?
                  & element inherited { \string }?
                  & element configuration { element8* }?
                }*
              }?
            & element inherited { \string }?
            & element configuration { element11* }?
          }*
        })?),
  empty
\string = xsd:string
